{% extends "layout.html" %}
{%block title%} About Us {%endblock%}
    {% block content %}
        <style>
            #footer{
                bottom: auto !important
            }
        </style>
        <h1>About Us</h1>
        <h4>Asmi Mohamad</h4>
        <h6>Computer Science, Concentration in Human Computer Interaction</h6>
        <p>I am currently a freshmen at UNC Charlotte, looking to advance my skill set by earning a degree in computer science. In the past year, I've completed an internship with the Dottie Rose Foundation, learning frontend and backend development with other peers. My hobbies include reading, listening to podcasts, and listening to music.  </p>
        <h4>Anisha Nannapaneni</h4>
        <h6>Data Science</h6>
        <p>My name is Anisha Nannapaneni and I’m currently a First-Year at UNC Charlotte. I’m a Data Science major and plan to enter the Early Entry Grad Program for a Master's in Data Science and Business Analytics (DSBA). I like to crochet, read, travel, and work out in my free time!</p>
        <h4>Rohitha Sanka</h4>
        <h6>Data Science</h6>
        <p>Hey! My name is Rohitha Sanka, I’m currently a second year at UNC Charlotte. I’m a Data Science major and triple minoring in Statistics, Economics and Actuarial Science. I currently work as a Business Operations Intern at the UNCC Alumni Engagement Center. I enjoy running, biking and reading in my free time!</p>
        <h4>Sophie Tanker</h4>
        <h6>Computer Science, Concentration in Bioinformatics</h6>
        <p>I am currently a senior at UNC Charlotte in the Early Entry Master's program for Bioinformatics. I am passionate about accessibility in software and science communication. Outside of school and work, I am a runner, a dog and cat mom, and an outdoors enthusiast.</p>
        <h4>Hannah Wilson</h4>
        <h6>Data Science</h6>
        <p>My name is Hannah Wilson, and I’m a first-year student at UNCC! I currently serve as Event Coordinator for the Association of Data Science. I enjoy crocheting, playing tennis, and reading in my free time.</p>
    {% endblock %}
