{% extends "layout.html" %}
{%block title%} About Us {%endblock%}
    
    {% block content %}
        <h1>About Us</h1>
        <h4>Asmi Mohamad</h4>
        <h6>Computer Science, Concentration in Human Computer Interaction</h6>
        <p>I am currently a freshmen at UNC Charlotte, looking to advance my skill set by earning a degree in computer science. In the past year, I've completed an internship with the Dottie Rose Foundation, learning frontend and backend development with other peers. I had also won the national "Aspirations in Computing" award with NCWIT. With these accomplishments I hope to positively contribute to and impact the computer science community.  </p>
        <h6>Data Science</h6>
        <h4>Rohitha Sanka</h4>
        <h6>Data Science</h6>
        <h4>Sophie Tanker</h4>
        <h6>Computer Science, Concentration in Bioinformatics</h6>
        <p>I am currently a senior at UNC Charlotte in the Early Entry Master's program for Bioinformatics. I am passionate about accessibility in software and science communication. Outside of school and work, I am a runner, a dog and cat mom, and an outdoors enthusiast.</p>
        <h4>Hannah Wilson</h4>
        <h6>Data Science</h6>
    {% endblock %}
