{%extends "layout.html"%}
{%block title%} All Trends {%endblock%}
{% block content %}
<style>
    #footer{
        bottom: auto !important
    }
</style>
    <h1>All Music Trends from 2000-2023</h1>
    <img src = "static/images/all_data.png" width="80%">
    <p>The 2000-2023’s dashboard recognizes the most popular trends measured by popularity as a common variable. 
        The most popular artist identified over the past 23 years was Rihanna with a popularity score of 2,318. 
        The most popular song over the past 23 years was Sorry by Justin Bieber with a score of 283. 
        The 3 graphs represent a positive correlation between popularity by different variables varying between Songs and Artists. 
        The 3 other variables used to compare popularity were Danceability, Energy and Valence. Combining the scale of Artist and Song, 
        the variables Popularity on the X-axis of the graph and the Valence on the Y-Axis. The top song concludes as Counting Stars by OneRepublic. 
        With various outputs this dashboard is able to conclude the vast interest our public takes in music over the past 2 decades. 
    </p>
{% endblock %}