{% extends "layout.html" %}
{%block title%} MeloMetrics {%endblock%}
{% block content%}
    <h1>Welcome to MeloMetrics.</h1>
    <p>This is a project completed for the 2024 GirlsWhoCode AxeHacks event. Our project was data visualization, and we chose to visualize Spotify data of music popularity from the 2000s to now.</p>
    <h3>Plans</h3>
    <p>Originally, we wanted to look at datasets and compare Apple Music usage with Spotify usage. However, we were not able to access Apple Music data and had to change plans.</p>
    <p>We split into two groups -- three people would create Tableau visualizations of data that we sourced through Kaggle, and two people would work on the website.</p>
    <p>Our goals by the end of the hackathon were to:</p>
    <ol>
        <li>Compare and contrast music trends from the early 2000s to modern day.</li>
        <li>Create a a line graph representing growth of Spotify users over timeline of data gathered.</li>
        <li>Create a website to show our visualizations.</li>
        <li>Record a short video showcasing our final product.</li>
        <li>Reflect on cultural changes since 2000.</li>
      </ol>
    <h3>Achievements</h3>
    <p>During the twelve hours given to us, our team was able to achieve all five of our goals. This was very exciting as it was everyone's first time completing a hackathon. We were able to compare and contrast the information given to us in the three Tableaus and </p>
    <h3>Conclusions</h3>
    <p>We were able to draw meaningful conclusions between the two sets of data, which we elaborate on in each individual Tableau page.</p>
{% endblock %}